body {
    background: 
        linear-gradient(to right, transparent, black 40%, black 60%, transparent),
        url("../images/Speedometer.jpg") no-repeat top center,
        black;
    color: white;
    width: 720px;       
    margin-left: auto;      
    margin-right: auto; 
    font-family: "Didact Gothic", sans-serif;   
    position: relative   
}


.full-opacity {
    background: 
        url("../images/Speedometer.jpg") no-repeat top center,
        black;
}

header {
    position: relative;
    margin-bottom: 20px;
}

#logo {
    width: 100%;   
    margin-top: 30px; 
    
}

h1 {
    font-size: 56px;        
    text-align: right;
    text-emphasis: bolder;
    bottom: 0px; 
    right: 0;
    position: absolute;

}

.hide-logo {
    opacity: 0;
    margin-bottom: 0;
}

#game-area {
    background-color:rgb(0,0,0,0.8);
}

#communication,
#question {     
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}

#question {
    padding-bottom: 20px;
    padding-top: 20px;
}

#answers-area {
    min-width: 40%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, grey 50%, transparent);
}

.answer, #start {   
    text-align: center;
    font-size: 28px;
    height: 48px;
    min-width:  250px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    line-height: 45px;
}

.clickable {
    -webkit-transition-property: font-size, padding; /* Safari */
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-property: font-size;
    transition-duration: 0.3s;
}

#start:hover,
.clickable:hover {
    
    /*background-image:linear-gradient(red, yellow);
    color: black;*/
    cursor: pointer;
    font-size: 36px;    
    color: yellow;
    line-height: 42px;
}   

.correct {
    font-size: 36px;
    color: orange;
}

strong {
    text-transform: uppercase;
}



#needle {
    position: relative;
    right: -332px;
    bottom: -242px;
    width: 0px;
    height: 0px;
    border-right: 260px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 16px solid gray; 
    transform-origin:    25px 24px;
    transform: rotate(-240deg); 
    /*animation: accel2 3s ease-in-out 1 forwards;*/
    filter: blur(1px);
    -webkit-filter: blur(1px);
    
}

#needle:after {
    content: "";
    position: absolute; 
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #1C2833;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}
#needle:before {
    content: "";
    position: absolute; 
    right: -260px;
    bottom: -40px;
    width: 0px;
    height: 0px;
    border-right: 260px solid transparent;
    border-top: 16px solid ghostwhite;
    border-bottom: 8px solid transparent;
}

.accelerate1 { animation: accel1 3s ease-in-out 1 forwards; }
.accelerate2 { animation: accel2 3s ease-in-out 1 forwards; }
.accelerate3 { animation: accel3 3s ease-in-out 1 forwards; }
.accelerate4 { animation: accel4 3s ease-in-out 1 forwards; }
.accelerate5 { animation: accel5 3s ease-in-out 1 forwards; }
.accelerate6 { animation: accel6 3s ease-in-out 1 forwards; }
.accelerate7 { animation: accel7 3s ease-in-out 1 forwards; }
.accelerate8 { animation: accel8 4s ease-in-out 1 forwards; }

.decelerate0 { animation: decel1 2s ease-in-out 1 forwards; }
.decelerate1 { animation: decel2 3s ease-in-out 1 forwards; }
.decelerate2 { animation: decel3 3s ease-in-out 1 forwards; }
.decelerate3 { animation: decel4 3s ease-in-out 1 forwards; }
.decelerate4 { animation: decel5 3s ease-in-out 1 forwards; }
.decelerate5 { animation: decel6 3s ease-in-out 1 forwards; }
.decelerate6 { animation: decel7 3s ease-in-out 1 forwards; }
.decelerate7 { animation: decel8 3s ease-in-out 1 forwards; }

@keyframes accel1 {
    0%  {   transform: rotate(-240deg);   }
    60% {   transform: rotate(-200deg);   }
    90% {   transform: rotate(-210deg);   }
    100%{   transform: rotate(-210deg);   }
}

@keyframes accel2 {
    0%  {   transform: rotate(-210deg);   }
    60% {   transform: rotate(-170deg);   }
    90% {   transform: rotate(-180deg);   }
    100%{   transform: rotate(-180deg);   }
}               
  
@keyframes accel3 {
    0%  {   transform: rotate(-180deg);   }
    60% {   transform: rotate(-140deg);   }
    90% {   transform: rotate(-150deg);   }
    100%{   transform: rotate(-150deg);   }
} 

@keyframes accel4 {
    0%  {   transform: rotate(-150deg);   }
    60% {   transform: rotate(-110deg);   }
    90% {   transform: rotate(-120deg);   }
    100%{   transform: rotate(-120deg);   }
} 

@keyframes accel5 {
    0%  {   transform: rotate(-120deg);   }
    60% {   transform: rotate(-80deg);   }
    90% {   transform: rotate(-90deg);   }
    100%{   transform: rotate(-90deg);   }
} 

@keyframes accel6 {
    0%  {   transform: rotate(-90deg);   }
    60% {   transform: rotate(-50deg);   }
    90% {   transform: rotate(-60deg);   }
    100%{   transform: rotate(-60deg);   }
} 
  
@keyframes accel7 {
    0%  {   transform: rotate(-60deg);   }
    60% {   transform: rotate(-20deg);   }
    90% {   transform: rotate(-30deg);   }
    100%{   transform: rotate(-30deg);   }
} 

@keyframes accel8 {
    0%  {   transform: rotate(-30deg);   }
    30% {   transform: rotate(0deg);     }
    60% {   transform: rotate(-10deg);   }
    100%{   transform: rotate(10deg);    }
} 

@keyframes decel1 {
    0%  {   transform: rotate(-210deg);   }
    100%{   transform: rotate(-240deg);   }
}

@keyframes decel2 {
    0%  {   transform: rotate(-180deg);   }
    100%{   transform: rotate(-210deg);   }
}

@keyframes decel3 {
    0%  {   transform: rotate(-150deg);   }
    100%{   transform: rotate(-180deg);   }
}

@keyframes decel4 {
    0%  {   transform: rotate(-120deg);   }
    100%{   transform: rotate(-150deg);   }
}

@keyframes decel5 {
    0%  {   transform: rotate(-90deg);   }
    100%{   transform: rotate(-120deg);   }
}

@keyframes decel6 {
    0%  {   transform: rotate(-60deg);   }
    100%{   transform: rotate(-90deg);   }
}

@keyframes decel7 {
    0%  {   transform: rotate(-30deg);   }
    100%{   transform: rotate(-60deg);   }
}

@keyframes decel8 {
    0%  {   transform: rotate(10deg);   }
    100%{   transform: rotate(-30deg);   }
}

@media screen and (max-width: 980px) {
    
    .main-content, 
    .header {
        width: 748px;
    }

}

@media screen and (max-width: 720px) {
    
    body {
        width: 100%
    }

    h1 {
        font-size: 40px;
    }

}

@media screen and (max-width: 500px) {
    
    body,
    .full-opacity { 
        width: 100%;
        background-size: 650px;
    }



    h1 {
        font-size: 30px;
    }

    #needle {
        right: -159px;
        bottom: -138px;
        border-right: 195px solid transparent;
        border-top: 6px solid transparent;
        border-bottom: 12px solid gray; 
    }

    #needle::after {
        border-left: 12px solid #1C2833;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }

    #needle::before {
        right: -195px;  
        bottom: -30px;
        border-right: 195px solid transparent;
        border-top: 12px solid ghostwhite;
        border-bottom: 6px solid transparent;
    }
}

@media (hover: none) {
    #start,
    .clickable:hover {
        font-size: 28px;
        color: inherit;
    }
}