body {
    background-color: black;
    background-image: url("../images/Speedometer.jpg");
    background-repeat: no-repeat;
    background-position: center 100px;

    color: white;
    width: 720px;   
    margin-left: auto;  
    margin-right: auto; 
    font-family: "Century Gothic", sans-serif       
}

#logo {
    width: 100%;
}

h1 {
    font-size: 40px;        
    text-align: right;
    text-emphasis: bold;
    top: 100px;
}

#communication,
#question { 
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#answers-area {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.answer, #start {   
    
    padding: 5px;
    text-align: center;
    padding: 10px;  
    font-size: 24px;
    background-color: black;    
}

#start:hover,
.clickable:hover {
    background-color: lightblue;
    background-color: orange;
    color: black;
    cursor: pointer;
}   

strong {
    text-transform: uppercase;
}