body {
    background-color: black;
    color: white;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 24px;    
}

#communication,
#question {
    text-align: center;
}

#answers-area {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.answer, #start {   
    border: 1px white solid;
    padding: 5px;
    text-align: center;
}

.clickable:hover {
    background-color: lightblue;
}   